<h1>My profile </h1>
<%= form_for(@user) do |f| %>
 
<p>
<%= f.label :name %><br />
<%= f.text_field :name %>
</p>
<p>
<%= f.label :email %><br />
<%= f.text_field :email, :disabled => 'disabled' %>
</p>
<p>
<%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
<%= f.password_field :password %>
</p>
<p>
<%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation %>
</p>
  <div class="actions">
    <%= f.submit %>
  </div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<% end %>
